.linkar_{
    text-decoration: none;
    color: black;
}
.foto_{
    width: 130px;
}

.bntcomprar {
    background-color: #f39c12; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito no texto */
    border: none; /* Sem borda */
    border-radius: 50px; /* Bordas arredondadas */
    padding: 15px 30px; /* Espaçamento interno */
    cursor: pointer; /* Cursor de clique */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra do botão */
    transition: all 0.3s ease; /* Efeito de transição suave */
    
  }

  .bntcomprar:hover {
    background-color: #e67e22; /* Cor do botão quando passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o botão */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Aumenta a sombra */
  }

  .bntcomprar:active {
    transform: scale(0.98); /* Efeito de clique (botão encolhe levemente) */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra no clique */
  }
